// Animación de pulsación para btn-inline, se enfatiza el sombreado de las letras
@keyframes pulsate {
	0% {
		transform: scale(1);
		text-shadow: none;
	}

	50% {
		transform: scale(1.05);
		text-shadow: .6rem .9rem .4rem rgba($color-black, .4);
	}

	100% {
		transform: scale(1);
		text-shadow: none;
	}
}

// Animación de pulsación para btn, se enfatiza el sombreado para hacer efecto 3D
@keyframes pulsate2 {
	0% {
		transform: scale(1);
		box-shadow: 0 .4rem 1.2rem rgba($color-black, .6);
	}

	50% {
		transform: scale(1.05);
		box-shadow: 0 1.5rem 3rem rgba($color-black, .4);
	}

	100% {
		transform: scale(1);
		box-shadow: 0 .4rem 1.2rem rgba($color-black, .6);
	}
}

//	Animación para cambiar de color los iconos SVG.
@keyframes colorChanger {
	0% {
		fill: $color-grey-dark-2;
	}
	40% {
		fill: $color-grey-dark-3;
	}
	60% {
		fill: #ccc;
	}
	100% {
		fill: $color-white;
	}
}
